@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.glassmorph {
  background: rgba(251, 251, 251, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


.clip-bg-text{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}